<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categoria">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Categorías</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pais">
      <ion-icon aria-hidden="true" name="earth-outline"></ion-icon>
      <ion-label>País</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

  

</ion-tabs>
